:root {
    --bckg: #15171a;
    --pulse-flowtx-header: var(--bckg);
}

html {
    font-size: 10px;
    background-color: var(--bckg);
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.full-center {
    width: 100%; 
    text-align: center;
}

.btn {
 border-radius: 100px;
  border: solid 1px #ffffff;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
} 


.title {
    font-size: 48px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -2px;
    color: #ffffff;

}

.subtitle {
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.92px;
    color: #ffffff;
    
}

.description {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #c4d4e3;
}

.title,
.description {
    padding: 4px;
    margin: 0;
}

@media only screen and (min-width:480px) {
    .title {}
}

@media only screen and (min-width:540px) {
    .title {
        font-size: 60px;
    }

    .description {
        font-size: 16px;
    }

}

// @media only screen and (min-width:768px) { 
//     .shadown-image {
//         padding: 10%;
//     }
// }

.header {
    &--container {
        &--nav {
            width: 100%;

            &--menu {
                list-style: none;
                font-size: 16px;
                text-align: center;
                >li>a {
                    color: #c4d4e3;
                    &:hover{
                        color: #fff;
                    }
                }
            }

            &--logo {
                color: #ffffff;
                text-decoration: none;
                font-size: 20px;

                >p {
                    padding: 2px 4px 0px 4px;
                    line-height: 0;
                }
            }
        }
    }
}


.ball {
    width: 36px;
    height: 36px;
    border: solid 1px #c1e0ff;  
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    &::after{
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: #c1e0ff;
        border-radius: 50%;
        box-shadow: 0 3px 6px 0 rgba(255, 255, 255, 0.3);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center;
       
    }  
    &:hover::after{
        animation-duration: 0.5s;
        animation-name: active-dot;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }  
    
}

@keyframes active-dot {
    from {
        width: 16px;
        height: 16px;
        box-shadow: 0 3px 6px 0 rgba(255, 255, 255, 0.3);

    }
  
    to {
        width: 24px;
        height: 24px;
        box-shadow: 0px 0px 6px 5px rgba(255, 255, 255, 0.3)
    }
  }