<div class="header--container flex">
    <nav class="header--container--nav row">
        <div class="col-xs-8">
            <a href="index.html" class="header--container--nav--logo flex row items-center">
                <img src="../../assets/imgs/logo.svg" alt="logo">
                <p class>Pulse IO</p>
            </a>
        </div>
        <div class="col-xs-4 justify-end">
            <ul class="header--container--nav--menu flex row items-center justify-around">
                <li><a href="working.html">Design</a></li>
                <li><a href="working.html">Development</a></li>
                <li><a href="team.html">Team</a></li>
            </ul>
        </div>
    </nav>
</div>